* {
    font-family: 'Inter', sans-serif;
    color: white;
}

.svg-icon-mono {
    height: 2rem;
    color: white;
    float: left;
    line-height: 1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("/images/clouds_background.jpeg");
    background-size: cover;
    position: relative;
    /* Variables */
    --transprent-bg: rgba(16, 30, 52, 0.3);
    --border-radius: 0.5rem;
    --bottom-hr: 1px solid rgb(255 255 255 / 25%)
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent 95%, rgba(0, 0, 0, 0.05) 97%);
    pointer-events: none;
    z-index: 50;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/images/crt-scanlines.png");
    opacity: 0.12;
    z-index: 51;
  }

.container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    height: 100%;
}

.container .search {
    width: auto;
    max-width: 526px;
    background-color: var(--transprent-bg);
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    z-index: 99;
    align-self: flex-end;
}

.container .search input,
.container .search input::placeholder {
    font-size: 1.2rem;
    font-weight: 500;
}

.container .search input {
    height: 2rem;
    margin-right: 1rem;
    border-style: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(0, 0, 0, 0);
    padding: .25rem .5rem;
    color: #FFF;
}

.container .search input::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.container .search button {
    font-size: 1.2rem;
    padding: 0 1rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: rgb(0 0 0 / 51%);
    color: white;
    height: 2.5rem;
    font-weight: 500;
    cursor: pointer;
}


.weather-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-content .todays-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin-bottom: 2rem;

}

.weather-content .todays-weather {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.675), -2px 2px 4px rgba(0, 0, 0, 0.275);
}

.weather-content .todays-weather img {
    width: 70%;
    max-width: 256px;
    margin-bottom: -0.5rem;
}

.weather-content .todays-weather h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.25rem;
}

.weather-content .todays-weather h2 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1;
}


.weather-content .todays-weather .weather-description {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0;
}

.weather-content .todays-weather .todays-weather__hi-lo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-content .todays-weather .todays-weather__hi-lo p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 .5rem;
    padding: 0;
}

.weather-alert {
    background: var(--transprent-bg);
    width: 80%;
    max-width: 526px;
    padding: 1rem;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
}

.component-head {
    width: 100%;
    border-bottom: var(--bottom-hr);
    margin-bottom: 0.5rem;
}

.component-head h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.33;
    margin-bottom: 0.5rem;
}

.details-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.details-grid .details-grid__seven-day-forecast {
    grid-column: span 2;
    background-color: var(--transprent-bg);
    border-radius: var(--border-radius);
    padding: 1rem 2rem 2rem;
}

.details-grid__seven-day-forecast p {
    font-size: 1rem;
    color: white;
}

.details-grid__seven-day-forecast .seven-day-forecast__day {
    display: flex;
    align-items: center;
    border-bottom: var(--bottom-hr);
}

.seven-day-forecast__day .day-of-the-week {
    width: 6rem;
}

.details-grid__seven-day-forecast .seven-day-forecast__day img {
    height: 64px;
    margin-right: 2rem;
}

.seven-day-forecast__day .seven-day-forecast__day__high,
.seven-day-forecast__day .seven-day-forecast__day__low {
    width: 4rem;
    margin-right: 1rem;
}

.details-grid .uv-index-and-others {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, .5fr);
    grid-gap: 2rem;
    border-radius: var(--border-radius);
}

.uv-index-and-others p {
    font-size: 1rem;
    color: white;
}

.uv-index-and-others .uv-index {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--transprent-bg);
    border-radius: var(--border-radius);
    padding: 1rem 2rem 1rem;
}

.uv-index-and-others .uv-index img {
    height: 128px;
}

.uv-index-and-others .uv-index p {
    align-self: flex-start;
}

.uv-index-and-others .uv-index p:first-of-type {
    font-weight: 700;
}

.uv-index-and-others .others__one-by-one {
    grid-column: span 1;
    grid-row: span 1;
    background-color: var(--transprent-bg);
    border-radius: var(--border-radius);
    padding: 1rem 2rem 1rem;
}

.others__one-by-one .wind-speed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.others__one-by-one .wind-speed img {
    height: 64px;
}

.others__one-by-one .feels-humid {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55%;
}

.others__one-by-one .feels-humid h4 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
}

.others__one-by-one .feels-humid div {
    margin-right: 1rem;
}

.others__one-by-one .feels-humid img {
    height: 64px;
}

@media screen and (max-width: 1080px) {

    .details-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {

    .container .search {
        width: 100%;
    }
    
    .container .search input,
    .container .search input::placeholder {
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    .container .search input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
    .container .search button {
        width: 100%;
    }

    .details-grid__seven-day-forecast p {
        font-size: 1rem;
        color: white;
    }

    .details-grid__seven-day-forecast .seven-day-forecast__day {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;
        border-bottom: var(--bottom-hr);
    }

    .seven-day-forecast__day .day-of-the-week {
        width: 100%;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .details-grid__seven-day-forecast .seven-day-forecast__day img {
        height: 96px;
        margin-right: 0;
        width: 100%;
    }
    .seven-day-forecast__day .seven-day-forecast__day__high {
        margin-right: 0;
    }
    .uv-index-and-others .others__one-by-one {
        grid-column: span 2;
    }
    .others__one-by-one .feels-humid {
        justify-content: center;
    }
}